/*This is a CSS comment */
/* ? Question comment------- */
/* ! alert comment */
/* todo comment */
/* *regular comment */

body{background-color: steelblue;}
h1{color: brown; background-color: aliceblue; padding: 1rem;}
ul{font-family: 'Courier New', Courier, monospace;}